import "./globals.css"
import { ThemeProvider } from "@/components/theme-provider"
import { DocsmanLayout,  } from "docsman/layouts"

export default function RootLayout({
  children,
}: Readonly<{
  children: React.ReactNode
}>) {
  return (
    <html lang="en" suppressHydrationWarning>
      <body>
        <ThemeProvider>
          {/*ini untuk menghilangkan button theme dan search  */}
          <DocsmanLayout
            theme={false}
            search={false}
          >
            {children}
          </DocsmanLayout>
        </ThemeProvider>
      </body>
    </html>
  )
}
