import "./globals.css"
import { ThemeProvider } from "@/components/theme-provider"
import { DocsmanLayout, MenuSectionProps } from "docsman/layouts"
import {
  Book,
  BookOpenIcon,
  BotIcon,
  Globe,
  Home,
  Settings2Icon,
  TerminalSquareIcon,
} from "lucide-react"

export const menus = [
  {
    type: "MainNavMenus",
    label: "Menus",
    hidden: true,
    menus: [
      {
        title: "Home",
        href: "/",
        icon: <Home />,
      },
      {
        title: "Docs",
        href: "/docs",
        icon: <Book />,
      },
    ],
  },
  {
    type: "NavCollaps",
    label: "Platform",
    menus: [
      {
        title: "Playground",
        url: "#",
        icon: <TerminalSquareIcon />,
        isActive: true,
        items: [
          {
            title: "History",
            url: "#",
          },
          {
            title: "Starred",
            url: "#",
          },
          {
            title: "Settings",
            url: "#",
          },
        ],
      },
      {
        title: "Models",
        url: "#",
        icon: <BotIcon />,
        items: [
          {
            title: "Genesis",
            url: "#",
          },
          {
            title: "Explorer",
            url: "#",
          },
          {
            title: "Quantum",
            url: "#",
          },
        ],
      },
    ],
  },
  {
    type: "NavMenus",
    label: "Projects",
    menus: [
      {
        title: "Design Engineering",
        href: "#",
      },
      {
        title: "Sales & Marketing",
        href: "#",
      },
      {
        title: "Travel",
        href: "#",
      },
    ],
  },
  {
    type: "NavCollaps",
    label: "Data",
    menus: [
      {
        title: "Documentation",
        url: "#",
        icon: <BookOpenIcon />,
        items: [
          {
            title: "Introduction",
            url: "#",
          },
          {
            title: "Get Started",
            url: "#",
          },
          {
            title: "Tutorials",
            url: "#",
          },
          {
            title: "Changelog",
            url: "#",
          },
        ],
      },
      {
        title: "Settings",
        url: "#",
        icon: <Settings2Icon />,
        items: [
          {
            title: "General",
            url: "#",
          },
          {
            title: "Team",
            url: "#",
          },
          {
            title: "Billing",
            url: "#",
          },
          {
            title: "Limits",
            url: "#",
          },
        ],
      },
    ],
  },
] satisfies MenuSectionProps[]

export default function RootLayout({
  children,
}: Readonly<{
  children: React.ReactNode
}>) {
  return (
    <html lang="en" suppressHydrationWarning>
      <body>
        <ThemeProvider>
          <DocsmanLayout title="Web" icon={<Globe />} sideMenus={menus}>
            {/*menggunakan property sidemenus, jika pada type mainnavmenus hidden true maka menu hanya akan tampil saat di layar mobile  */}
            {children}
          </DocsmanLayout>
        </ThemeProvider>
      </body>
    </html>
  )
}
