import "./globals.css"
import { ThemeProvider } from "@/components/theme-provider"
import { DocsmanLayout, MenuSectionProps } from "docsman/layouts"
import {
  Book,
  BookAIcon,
  BookOpenIcon,
  BotIcon,
  Globe,
  Home,
  MailIcon,
  PenBox,
  Settings2Icon,
  TerminalSquareIcon,
} from "lucide-react"

/*ini contoh membuat grup menu  */
export const menus = [
  {
    type: "Header",
    menus: [
      {
        title: "Home",
        href: "/",
      },
      {
        title: "Docs",
        href: "/docs",
      },
    ],
  },
  {
    type: "Footer",
    menus: [
      {
        title: "Policy",
      },
    ],
  },
  {
    type: "MainNavMenus",
    label: "Menus",
    hidden: true,
    menus: [
      {
        title: "Home",
        href: "/",
        icon: <Home />,
      },
      {
        title: "Docs",
        href: "/docs",
        icon: <Book />,
      },
    ],
  },
  {
    grup: "grup 1",
    type: "NavCollaps",
    label: "Platform",
    menus: [
      {
        title: "Playground",
        url: "#",
        icon: <TerminalSquareIcon />,
        isActive: true,
        items: [
          {
            title: "History",
            url: "#",
          },
          {
            title: "Starred",
            url: "#",
          },
          {
            title: "Settings",
            url: "#",
          },
        ],
      },
      {
        title: "Models",
        url: "#",
        icon: <BotIcon />,
        items: [
          {
            title: "Genesis",
            url: "#",
          },
          {
            title: "Explorer",
            url: "#",
          },
          {
            title: "Quantum",
            url: "#",
          },
        ],
      },
    ],
  },
  {
    grup: "grup 2",
    type: "NavMenus",
    label: "Projects",
    menus: [
      {
        title: "Design Engineering",
        href: "#",
      },
      {
        title: "Sales & Marketing",
        href: "#",
      },
      {
        title: "Travel",
        href: "#",
      },
    ],
  },
  {
    grup: "grup 3",
    type: "NavCollaps",
    label: "Data",
    menus: [
      {
        title: "Documentation",
        url: "#",
        icon: <BookOpenIcon />,
        items: [
          {
            title: "Introduction",
            url: "#",
          },
          {
            title: "Get Started",
            url: "#",
          },
          {
            title: "Tutorials",
            url: "#",
          },
          {
            title: "Changelog",
            url: "#",
          },
        ],
      },
      {
        title: "Settings",
        url: "#",
        icon: <Settings2Icon />,
        items: [
          {
            title: "General",
            url: "#",
          },
          {
            title: "Team",
            url: "#",
          },
          {
            title: "Billing",
            url: "#",
          },
          {
            title: "Limits",
            url: "#",
          },
        ],
      },
    ],
  },
] satisfies MenuSectionProps[]

const grupData = [
  {
    title: "grup 1",
    description: "vX 0.0.1",
    icon: <MailIcon />,
  },
  {
    title: "grup 2",
    description: "v 0.0.2",
    icon: <BookAIcon />,
  },
  {
    title: "grup 3",
    description: "v 0.0.3",
    icon: <PenBox />,
  },
]

export default function RootLayout({
  children,
}: Readonly<{
  children: React.ReactNode
}>) {
  return (
    <html lang="en" suppressHydrationWarning>
      <body>
        <ThemeProvider>
          <DocsmanLayout
            title="Web"
            icon={<Globe />}
            sideMenus={menus}
            ShowSidebar="/docs"
            grup={grupData}
          >
            {children}
          </DocsmanLayout>
        </ThemeProvider>
      </body>
    </html>
  )
}
